.nav {
  grid-area: n;
  background: rgb(115, 180, 255);
  padding: 20px;
}
.item {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.activeNavItem {
  color: rgb(0, 81, 255);
  font-weight: bold;
  text-decoration: none;
}